#col-s5-light {
float: left;
padding:100px;
}

#col-s5-light {
    float: right;
    padding: 100px;
    }

.lighten-1 { 
    background: #FDF8C1;
    /* color: #D77000; */
}

#logo-container {
    color: #D77000;
    margin-left: 40px;
    font-size: 40px;
}

#navbar {
    color: #D77000;
    margin-right: 10px;
}

/* .col-s7-push-s5 {
    padding: 30px;
    /* margin top: 30px; */

.waves-effect.waves-light.btn {
     background-color: #D77000
}

.materialboxed {
    width: 200px;
    height: 300px;
    /* align-content: center; */
    margin-left: 55px;
}
