#mastHead{    
    background-color: #FDF8C1;
    padding: 5px;
    width: 100%;    
}
h4{
    font-weight:bold;
    font-size: 39px;
    color: #D77000;
    margin-left: 40px;
    font-family: ‘Righteous’, cursive;
    }
#share {
    float: right;
}         
#confirm, #share, #upload {
        background-color: #D77000;
        border-radius: 15px;
        margin-bottom: 17px;
        margin-top: 10px;
        font-family: ‘Roboto’, sans-serif;
}

#black-text {
    text-align: right;
    font-family: ‘Oxygen’, sans-serif;
}
.row{
    margin-top: 50px;
}
#emojified{
    margin-left: 30px;
    max-width: 210px;
    max-height: 210px;
}